@borders:    #06F;
@bg_dark:    #06F;
@text_dark:  #06F;

@bg_light:   #CEF;
@text_light: #CEF;

@text_normal: #999;

// The RSS widget settings dialog

.rss-options {
  label.inline {
    margin: 0 10px 0 0;
    display: inline-block;
    
    * {
      vertical-align: baseline;
    }
    
    input {
      border-top: none;
      border-left: none;
      border-right: none;
      display: inline-block;
      width: auto;
      margin-right: 5px;
      outline: none;
    }
  }
}

.rss-sources {
  width: 100%;
  margin-bottom: 5px;
  
  input.rss-input, .rss-input-fake {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    width: 220px;
    
    &.rss-source-existing {
      border-top: none;
      border-left: none;
      border-right: none;
    }
    
    span {
      color: red;
    }
  }

  a.button-ext {
    
    display: inline-block;
    margin: 0;
    width: 15px;

    background: @text_dark;
    color: #fff;
    padding: 5px;
    font-size: 14px;
    border: solid 1px @text_dark;
    text-decoration: none;
    text-align: center;
    
    &:active, &:focus, &:active, &:focus {
      outline: none;
    }
  
    &:focus {
      color: @text_light;
      outline: solid 2px @text_dark; 
      outline-offset: 1px;
    }
  }
}

.rss-item {
  margin: 5px 0;
  padding-bottom: 5px;
  border-bottom: solid 1px #ddd;
}
.rss-item:last-child {
  border-bottom: none;
}

.rss-item > a {
  float: left;
  display: inline-block;
  text-decoration: none;
}

.rss-item > a:visited {
  color: #99f;
  text-decoration: none;
}

.rss-item-meta {
  text-align: right;
  display: inline-block;
  float: right;
  width: 20px;
}

.rss-item > .rss-item-meta + a {
  width: ~"calc(100% - 22px)";
}



.rss-show-all {
  margin: 15px -10px -10px -10px;
  padding: 4px 0;
  background: #f5f5f5;
  cursor: pointer;
  text-align: center;
}

.rss-item-comments {
  font-size: 20px;
  text-decoration: none;
  color: @text_dark;
}