.rss-options label.inline {
  margin: 0 10px 0 0;
  display: inline-block;
}
.rss-options label.inline * {
  vertical-align: baseline;
}
.rss-options label.inline input {
  border-top: none;
  border-left: none;
  border-right: none;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  outline: none;
}
.rss-sources {
  width: 100%;
  margin-bottom: 5px;
}
.rss-sources input.rss-input,
.rss-sources .rss-input-fake {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  width: 220px;
}
.rss-sources input.rss-input.rss-source-existing,
.rss-sources .rss-input-fake.rss-source-existing {
  border-top: none;
  border-left: none;
  border-right: none;
}
.rss-sources input.rss-input span,
.rss-sources .rss-input-fake span {
  color: red;
}
.rss-sources a.button-ext {
  display: inline-block;
  margin: 0;
  width: 15px;
  background: #0066ff;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border: solid 1px #0066ff;
  text-decoration: none;
  text-align: center;
}
.rss-sources a.button-ext:active,
.rss-sources a.button-ext:focus,
.rss-sources a.button-ext:active,
.rss-sources a.button-ext:focus {
  outline: none;
}
.rss-sources a.button-ext:focus {
  color: #cceeff;
  outline: solid 2px #0066ff;
  outline-offset: 1px;
}
.rss-item {
  margin: 5px 0;
  padding-bottom: 5px;
  border-bottom: solid 1px #ddd;
}
.rss-item:last-child {
  border-bottom: none;
}
.rss-item > a {
  float: left;
  display: inline-block;
  text-decoration: none;
}
.rss-item > a:visited {
  color: #99f;
  text-decoration: none;
}
.rss-item-meta {
  text-align: right;
  display: inline-block;
  float: right;
  width: 20px;
}
.rss-item > .rss-item-meta + a {
  width: calc(100% - 22px);
}
.rss-show-all {
  margin: 15px -10px -10px -10px;
  padding: 4px 0;
  background: #f5f5f5;
  cursor: pointer;
  text-align: center;
}
.rss-item-comments {
  font-size: 20px;
  text-decoration: none;
  color: #0066ff;
}
