// Primary colors are redish
@primary1: #f69988;
@primary5: #e84e40;
@primary7: #b0120a;

// Primary colors are bluish
@secondary1: #b3e5fc;
@secondary3: #40c4ff;
@secondary5: #03a9f4;
@secondary7: #0288d1;

// Accent colors are yellowish
@accent1:  #ffe0b2;
@accent5:  #ff9800;
@accent7:  #f57c00;


@grey50:  #eceff1;
@grey100: #cfd8dc;

// Text colors
@text_darkest:  rgba(0, 0, 0, 0.87);
@text_darker:   rgba(0, 0, 0, 0.54);
@text_dark:     rgba(0, 0, 0, 0.26);
@text_lightest: rgba(255, 255, 255, 0.8);
@text_lighter:  rgba(255, 255, 255, 0.54);
@text_light:    rgba(255, 255, 255, 0.26);

@text_accent:   #b2ebf2;

@-webkit-keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  } 
}

body {
  font-family: Roboto;
}

input:not([type='checkbox']):not([type='radio']), textarea {
  color: @text_darkest;
  border: solid 1px @grey100;
  
  &::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
    color: @grey50;
  }
  
  &:focus {
    border: solid 1px @accent5;
    outline: none;
  }
}

button {
  border: solid 1px @primary5;
  background-color: @primary5;
  color: @text_lightest;
  outline: none;

  svg { 
    fill: @primary1;
  }
  
  &:focus {
    border: solid 1px @text_lightest;
    outline: solid 1px @primary5;
  }
}

section#header-section {
  background-color: @primary1;
  h1 {
    color: @primary7;
  }
}

section#login-section {
  background: @grey50;
  
  div.form-errors {
    margin-top: 5px;
    color: @primary5;
  }
}

.widget-container {
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  .widget-loading-overlay {
    background-color: fadeout(@secondary7, 50%);
    svg {
      fill: fadeout(white, 50%);
      -webkit-animation-name: spin;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
    }
  }  
  
  a {
    color: @secondary7;
    text-decoration: none;

    &:visited {
      color: @secondary3;
    }
  }
  
  button {
    background-color: transparent;
    border: none;
    color: @primary7;
    margin: 0;
    padding: 0;
    
    &:focus {
      outline: none;
      svg {
        fill: @accent7;
      }
    }
    
    svg {
      width: 20px;
      height: 20px;
    }
  }
  
  .widget-header {
    color: @primary7;
    
    /* New Widget pickers have this class */
    h3.new {
      color: @secondary5;
      text-align: center;
      float: none;
    }
    
    a {
      text-decoration: none;
      color: @primary7;
      
      svg {
        fill: @accent7;
      }
    }
  }
  
  .widget-picker {
    div {
      color: @secondary5;
      fill: @secondary5;
      border: solid 1px @secondary5;
      border-radius: 3px;
    }
  }
}

.widget-edit-panel .widget-edit-section {
  label {
    color: @accent7;
    
    &.darker {
      color: @text_darker;
    }
  }
  
  input {
    color: @text_darkest;
  }

  button:focus {
    svg {
      fill: @accent7;
    }
  }
}

.widgetbox-placeholder {
  background: lighten(@primary1, 20%);
}