body {
  font-family: Roboto;
}
input {
  color: rgba(0, 0, 0, 0.87);
  border: solid 1px #cfd8dc;
}
input::-webkit-input-placeholder,
input :-moz-placeholder,
input :-ms-input-placeholder {
  color: #eceff1;
}
input:focus {
  border: solid 1px #ff9800;
  outline: none;
}
button {
  border: solid 1px #e84e40;
  background-color: #e84e40;
  color: rgba(255, 255, 255, 0.8);
  outline: none;
}
button svg {
  fill: #f69988;
}
button:focus {
  border: solid 1px rgba(255, 255, 255, 0.8);
  outline: solid 1px #e84e40;
}
section#header-section {
  background-color: #f69988;
}
section#header-section h1 {
  color: #b0120a;
}
section#login-section {
  background: #eceff1;
}
section#login-section div.form-errors {
  margin-top: 5px;
  color: #e84e40;
}
.widget-container {
  border-color: #f69988;
}
.widget-container .widget-header {
  background-color: #e84e40;
  color: rgba(255, 255, 255, 0.8);
}
.widget-container .widget-header a {
  color: #ffe0b2;
  text-decoration: none;
}
.widget-container .widget-header a svg {
  fill: #ffe0b2;
}
.widget-bottom-controls {
  background-color: #f69988;
}
.widget-bottom-controls button {
  background-color: #e84e40;
  color: rgba(255, 255, 255, 0.8);
}
.widgetbox-placeholder {
  background: #fdeae7;
}
