<div ng-controller="RssController">  
  <!-- Shown when the widget has the "isEdited" flag set to true -->
  <div ng-show="isEdited">
    <div ng-show="isWorking">Working...</div>
    <h3>RSS Widget</h3>
    
    <label for="rss-widget-title">Widget Title</label>
    <input ng-model="title" class=""type="text" id="rss-widget-title">
    
    <h4>Sources</h4>
    
    <div ng-repeat="source in sources" ng-class="sourceInfo[source] || ''">
      <span>{{source}}</span>
      <button ng-click="removeSource($index)">Remove</button>
    </div>

    <div>
      <input ng-model="newSource" ui-keypress="{13:'addSource()'}" placeholder="URL to a new feed or website">
      <button ng-click="addSource()">Save</button>
    </div>

    <div class="rss-options">
      <label>Items Displayed</label>
      <label class="inline"><input type="radio" ng-model="itemCount" value="5" checked>5</label>
      <label class="inline"><input type="radio" ng-model="itemCount" value="10">10</label>
      <label class="inline"><input type="radio" ng-model="itemCount" value="15">15</label>
      <label class="inline"><input type="radio" ng-model="itemCount" value="20">20</label>
      <label class="inline"><input type="radio" ng-model="itemCount" value="all">All</label>
    </div>
    
    <div>
      <button ng-click="saveSettings()">Ok</button>
      <!-- Show the cancel button only for existing widgets -->
      <button ng-click="saveSettings()" ng-show="!widget.isNew">Cancel</button>
    </div>
  </div>

  <!-- Shown when the widget has the "isEdited" flag set to false -->
  <div ng-show="!isEdited">
    <div ng-repeat="item in items|limitTo:itemCount" ng-show="items.length">
      <p><a href="{{item.link}}" target="_blank">{{ item.title }}</a></p>
    </div>
    <div ng-show="!items.length">
      <p>No RSS items here</p>
    </div>
  </div>
</div>