<!DOCTYPE html>
<html lang="en" ng-app="eyegeeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eye Gee</title>
    <meta name="description" content="iGoogle Replacement">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/main/css/styles.css">
    <link rel="stylesheet" href="/static/main/css/theme.css">

    <script src="/bower_components/microload/microload.js"></script>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-widgetbox/angular-widgetbox.min.js"></script>
    <script src="/bower_components/angular-ui-utils/keypress.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="/state.js"></script>
    <script src="/static/main/js/main.js"></script>
  </head>

  <body>    
    <header ng-controller="NavigationController">
      
      <section id="header-section">
        <h1 class="main-title">EyeGee</h1>
        <nav class="main">
          <button type="button" id="new-widget-button" ng-click="newWidget()">
            <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#add-circle"></use></svg> Add a widget
          </button>
          <button type="button" id="session-button" ng-click="toggleSessionForm()">
            <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#accessibility"></use></svg> {{ session.buttonTitle }}
          </button>
        </nav>
      </section>

      <section id="login-section" ng-class="{shown: session.isFormOpen, user: 1}" ng-init="isLoginOpen=false">
        <div ng-show="session.isAnon" class="form-row form-fields">
          Please type your <input ng-model="session.email" placeholder="email" id="input-email"> 
          and <input ng-model="session.password" type="password" placeholder="password" id="input-password">
          and press <button ng-click="doSignIn()">Login</button>
          or <input ng-model="session.password2" type="password" placeholder="repeat the password" id="input-password2"> 
          and <button ng-click="doRegister()">Sign Up</button> already!
        </div>
        <div ng-show="!session.isAnon" class="form-row form-fields">
          You are logged in. You can now <button ng-click="doSignOut()">Logout</button>
          or <button ng-click="doRegister(true)">Update</button>
          your <input ng-model="session.email" placeholder="email" id="input-email">
          and <input ng-model="session.password" type="password" placeholder="password" id="input-password">
          but first <input ng-model="session.password2" type="password" placeholder="repeat the password" id="input-password2"> 
        </div>
        <div class="form-errors">
          <p ng-show="session.error">{{session.error}}</p>
        </div>
      </section>
      
    </header>
    
    <!-- The column arrangement of widgets is created in a separate angular directive -->
    <main ng-controller="MainController">

      <section ng-repeat="column in columns" class="column wb-column col-{{ columns.length }}" widgetbox-column='wb-column' widgetbox-column-id="{{ $index }}">
        <div ng-repeat="widget in column" class="widget-container wb-widget" widgetbox-widget='wb-widget' widgetbox-draghandle=".widget-header" widgetbox-widget-id="{{ $index }}">
          <div class="widget-loading-overlay" ng-show="widget.$working">
            <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#settings"></use></svg>
          </div>

          <div class="widget-header">
            <h3 ng-show="!widget.link" ng-class="{ new: !widget.module }">{{ widget.title }}</h3>
            <h3 ng-show="widget.link"><a href="{{ widget.link }}" target="_blank">{{ widget.title }}</a></h3>
            <a href="javascript:;" ng-click="cancelEdit(widget)" ng-show="widget.$scope.isEdited">
              <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#clear"></use></svg>
            </a>
            <a href="javascript:;" ng-click="editWidget(widget)" ng-show="!widget.$scope.isEdited && widget.module">
              <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#settings"></use></svg>
            </a>
          </div>

          <div class="widget-picker clearfix" ng-show="!widget.module">
            <div ng-repeat="module in modules" ng-click="setModule(widget.id, module)">
              <svg viewBox="0 0 96 96"><use xlink:href="{{module | svgSource}}"></use></svg>
              {{module}}
            </div>
          </div>

          <widget-body ng-show="widget.module" module="{{ widget.module }}" widget-id="{{ widget.id }}"></widget-body>
        </div>
      </section>

    </main>

    <footer></footer>

  </body>
</html>

