<!DOCTYPE html>
<html lang="en" ng-app="eyegeeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eye Gee</title>
    <meta name="description" content="Google Replacement">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->    
    <link rel="stylesheet" href="/static/main/css/styles.css">
    <script src="/bower_components/microload/microload.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-widgetbox/angular-widgetbox.js"></script>
  </head>
  
  <body>

    <header ng-controller="NavigationController">
      <h1 class="main-title">EyeGee</h1>
      <nav class="main">
        <button type="button" id="new-widget-button" ng-click="newWidget()">
          NW
        </button>
        <button type="button" id="session-button" ng-click="doLoginOrRegister()">
          {{ sessionButtonTitle }}
        </button>
      </nav>
    </header>
    <!-- The column arrangement of widgets is created in a separate angular directive -->
    <main ng-controller="MainController">

      <section ng-repeat="column in columns" class="column wb-column col-{{ columns.length }}" widgetbox-column='wb-column' widgetbox-column-id="{{ $index }}">
        <div ng-repeat="widget in column" class="widget-container wb-widget" widgetbox-widget='wb-widget' widgetbox-draghandle="h3" widgetbox-widget-id="{{ $index }}">
          <h3>{{ widget.title }}</h3>
          
          <widget-picker ng-show="!widget.module">
            <h5>What kind?</h5>
            <p ng-repeat="module in modules" ng-click="setModule(widget.id, module)">{{module}}</p>
          </widget-picker>
          
          <widget-body ng-show="widget.module" module="{{ widget.module }}" widget-id="{{ widget.id }}"></widget-body>
        </div>
      </section>

    </main>

    <footer></footer>

  </body>
  <script src="/state.js"></script>
  <script>
    var app = angular.module('eyegeeApp', ['ngRoute', 'widgetbox']);
    
    var model = {
      _guid: 0,
      
      columns: [
        [ { title: "Widget 1", module: "rss", id: 1, extra: "Arstechnica" } ],
        [ { title: "Widget 2", module: "comic", id: 2, extra: "Dilbert" }, 
          { title: "Widget 4", module: "rss", id: 4, extra: "Tomshardware" } ],
        [ { title: "Widget 3", module: "rss", id: 3, extra: "Hackernews" } ]
      ],
      
      guid: function() {
        return ++this._guid;
      },

      getWidgetById: function(id){
        var c, w, j, i = 0;
        id = "" + id;
        while(c = this.columns[i++]){
          j = 0;
          while(w = c[j++]){
            if(w.id + "" === id){
              return w;
            }
          }
        }
        return null;
      },
      
      addWidget: function(){
        // TODO: Determine next widget position
        this.columns[0].push({ title: "New Widget", module: null, id: "new-" + this.guid() });
      }
    }
    
    // Needed for dynamically loading controllers (https://coderwall.com/p/y0zkiw)
    app.config(function($controllerProvider, $compileProvider, $filterProvider, $provide){
      app.lazy = {
        controller: $controllerProvider.register,
        directive: $compileProvider.directive,
        filter: $filterProvider.register,
        factory: $provide.factory,
        service: $provide.service
      }
    });

    // This will allow use accrss to the column models in all controllers.
    app.factory('modelFactory', function modelFactory(){
      return model;
    });

    /**
     * The widgetItem directive will render the widgets.
     * It will have different behaviour based on the widget that calls it.
     *
     * Check: http://onehungrymind.com/angularjs-dynamic-templates/
    **/
    app.directive('widgetBody', function ($compile, $http, $templateCache, $q) {
      var linker = function widgetBodyLinker(scope, element, attrs) {

        attrs.$observe('module', function(val){
          scope.module = val;
          scope.widgetId = attrs.widgetId;

          if(val){
            microload('/static/' + val + '/js/controller.js', function(){
              // TODO: Find out why passing a function that reads the widget-body attribute
              // to the templateUrl in the Directive Definition Map doesn't work ...
              $http
                .get('/static/' + val + '/templates/widget.html', { cache: $templateCache })
                .success(function(html){
                  element.html(html);
                })
                .then(function(response){
                  element.replaceWith( $compile(element.html())(scope) );
                });
            });
          }
        });

      }

      return {
        restrict: "E",
        replace: true,
        link: linker,
        scope: {}
      };
    });


    // Takes care of displaying widgets
    app.controller('MainController', function($scope, $timeout, modelFactory){
      $scope.parentData = "This is parent data";
      $scope.columns = modelFactory.columns;
      $scope.modules = MODULES;
      
      // The angular-widgetbox directive calls this method when a widget is moved
      $scope.widgetboxOnWidgetMove = function(sourceColumn, sourcePosition, targetColumn, targetPosition){
        $scope.$apply(function(){
          if(targetColumn){
            var widget = modelFactory.columns[parseInt(sourceColumn, 10)].splice(parseInt(sourcePosition, 10), 1)[0];
            var target = modelFactory.columns[parseInt(targetColumn, 10)];
            targetPosition == 'last' ? target.push(widget) : target.splice(parseInt(targetPosition, 10), 0, widget);
          }
        });
      }
      
      $scope.setModule = function(widgetId, module){
        var widget = modelFactory.getWidgetById(widgetId);
        widget.module = module;
      }

    });


    // Takes care of user signin and registration
    app.controller('SessionController', function($scope){
      
    });

    // Takes care of the navigation buttons
    app.controller('NavigationController', function($scope, modelFactory){
      $scope.sessionButtonTitle = "Sign In";
      
      // Adding a new widget
      $scope.newWidget = function(){ 
        modelFactory.addWidget();
      }
      
      $scope.doLoginOrRegister = function(){ console.log("Login/Register"); }
    });
        
  </script>
</html>

