<!DOCTYPE html>
<html lang="en" ng-app="eyegeeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eye Gee</title>
    <meta name="description" content="iGoogle Replacement">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/main/styles.css">
    <link rel="stylesheet" href="/static/main/theme.css">

    <script src="/bower_components/microload/microload.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-widgetbox/angular-widgetbox.js"></script>
    <script src="/bower_components/angular-ui-utils/keypress.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="/state.js"></script>
    <script src="/static/main/controller.js"></script>
  </head>

  <body esc-handler>
    <header ng-controller="NavigationController">
      <section id="header-section">
        <h1 class="main-title">EyeGee</h1>
        <nav class="main">
          <button type="button" id="new-widget-button" ng-click="newWidget()">
            <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#add-circle"></use></svg> Add a widget
          </button>
          <button type="button" id="session-button" ng-click="toggleSessionForm()">
            <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#accessibility"></use></svg> {{ session.buttonTitle }}
          </button>
        </nav>
      </section>

      <section id="login-section" ng-class="{shown: session.isFormOpen, user: 1}" ng-init="isLoginOpen=false">
        
        <div ng-show="session.isAnon">
          <p class="greeting">Hello. Login or Register.</p>
          <p class="instructions">If you sign up, your widgets will be saved</p>
          
          <div class="form-row form-fields">
            <label for="input-email">Email</label>
            <input ng-model="session.email" id="input-email" ui-keypress="{13:'doSignIn()'}">
            <label for="input-password">Password</label>
            <input ng-model="session.password" type="password" id="input-password" ui-keypress="{13:'doSignIn()'}">
          </div>
          <div class="form-row form-fields">
            <button ng-click="doSignIn()">Login</button>
            <button ng-click="doForgotten()">Lost password?</button>
          </div>
          <div class="form-row form-fields">
            <label for="input-password2">Repeat Password</label>
            <input ng-model="session.password2" type="password" id="input-password2"> 
          </div>
          <div class="form-row form-fields">
            <button ng-click="doRegister()">Register</button>
          </div>
        </div>

        <div ng-show="!session.isAnon">
          <p class="greeting">You are logged in as {{email}}</p>
          <p class="instructions">
            To change your email or password, please fill out all fields<br>
            and click Update
          </p>

          <div class="form-row form-fields">
            <label for="input-email">Email</label>
            <input ng-model="session.email" id="input-email">
            <label for="input-password">Password</label>
            <input ng-model="session.password" type="password" id="input-password">
            <label for="input-password2">Repeat Password</label>
            <input ng-model="session.password2" type="password" id="input-password2"> 
          </div>
          
          <div class="form-row form-fields">
            <button ng-click="doSignOut()">Logout</button>
            <button ng-click="doRegister(true)">Update</button>
          </div>
        </div>

        <div class="form-errors" ng-show="session.error">
          <p ng-bind-html="session.error"></p>
        </div>

        <div class="form-message" ng-show="session.message">
          <p ng-bind-html="session.message"></p>
        </div>
      </section>
      
    </header>
    
    <!-- The column arrangement of widgets is created in a separate angular directive -->
    <main ng-controller="MainController">

      <div id="greeting" ng-show="!widgetCount">
        <div>
          <p>Hello!</p>
          <p>&nbsp;</p>
          <p>
            This is EyeGee. It's called like that because it doing the same thing that 
            <a href="http://en.wikipedia.org/wiki/IGoogle">iGoogle</a> used to do so well and 
            other personalized homepages around the internet don't - be simple and don't show ads.
          </p>
          <p>&nbsp;</p>
          <p>
            Click the top-left button to add widgets.
            Drag them around to arrange your space - it's pretty straightforward. 
            Check out the <a href="/about">about</a> page for more info.
          </p>
          <p>&nbsp;</p>
          <p>
            I made EyeGee for myself. That's why it has only three widgets -<br>- the ones I need. 
            But you can make your own because EyeGee is open source.
            Head over to the <a href="https://github.com/skid/eyegee">project page</a> and see how.
            Install it on your server. Or just use this one.
          </p>
          <p>&nbsp;</p>
          <p>
            If you decide to use this one, though, I can't guarantee backups and safety of your data. If something breaks,
            the worst thing that could happen is that you lose your notes and widget layout. 
            This might be pretty bad, depending on what you decide to keep here, so, 
            <b>by all means, do not use it for important stuff ... yet!!!</b>
          </p>
          <p>&nbsp;</p>
          <p>
            Cheers.
          </p>
        </div>
      </div>

      <section ng-repeat="column in columns" class="column wb-column col-{{ columns.length }}" widgetbox-column='wb-column' widgetbox-column-id="{{ $index }}">  
        <!-- start of widget -->
        <div ng-repeat="widget in column" 
             ng-class="{'widget-container': 1, 'wb-widget': 1, empty: !widget.$loaded}"
             widgetbox-widget='wb-widget'
             widgetbox-draghandle=".widget-header"
             widgetbox-widget-id="{{ $index }}">
            
          <div class="widget-blur-filter"></div>
          <div class="widget-loading-overlay" ng-show="widget.$working">
            <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#settings"></use></svg>
          </div>

          <div class="widget-header">
            <h3 ng-show="!widget.link" ng-class="{ new: !widget.module }">{{ widget.title }}</h3>
            <h3 ng-show="widget.link"><a href="{{ widget.link }}" target="_blank">{{ widget.title }}</a></h3>
            <a href="javascript:;" ng-click="cancelEdit(widget)" ng-show="widget.$scope.isEdited">
              <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#clear"></use></svg>
            </a>
            <a href="javascript:;" ng-click="editWidget(widget)" ng-show="!widget.$scope.isEdited && widget.module">
              <svg viewBox="0 0 96 96"><use xlink:href="/static/main/icons.svg#settings"></use></svg>
            </a>
          </div>

          <div class="widget-picker clearfix" ng-show="!widget.module">
            <div ng-repeat="module in modules" ng-click="setModule(widget.id, module)">
              <svg viewBox="0 0 96 96"><use xlink:href="{{module | svgSource}}"></use></svg>
              {{module}}
            </div>
          </div>

          <widget-body ng-show="widget.module" module="{{ widget.module }}" widget-id="{{ widget.id }}"></widget-body>
        </div>
        <!-- end of widget -->
      </section>

    </main>
    <footer></footer>
  </body>
</html>

