<h3>RSS Widget</h3>
<div class="error-message"></div>
<label for="rss-widget-titl">Widget Title</label>
<input class="rss-title rss-input" id="rss-widget-title" type="text" placeholder="Optional...">
<p>
  Add some RSS feed URLs in the field below.
  You can also type a website URL and we'll try to find RSS feeds.
</p>
<label for="rss-source-new">Sources</label>
<div class="rss-sources">
  <input class="rss-source-new rss-input" id="rss-source-new" type="text" placeholder="URL to a new feed or website">
  <a class="button-ext rss-source-add" href="javascript:;">&plus;</a>
</div>
<% if(widget) {
  _.each(widget.config.sources, function(url, index){ %>
    <div class="rss-sources">
      <input class="rss-source-existing rss-input" type="text" data-url='<%= url %>' disabled >
      <a class="button-ext rss-source-remove" href="javascript:;">&times;</a>
    </div>
<% }); } %>
<div class="rss-options">
  <label>Items Displayed</label>
  <label class="inline"><input type="radio" name="rss_items_count" class="rss-item-count" value="5" checked>5</label>
  <label class="inline"><input type="radio" name="rss_items_count" class="rss-item-count" value="10">10</label>
  <label class="inline"><input type="radio" name="rss_items_count" class="rss-item-count" value="15">15</label>
  <label class="inline"><input type="radio" name="rss_items_count" class="rss-item-count" value="20">20</label>
  <label class="inline"><input type="radio" name="rss_items_count" class="rss-item-count" value="all">All</label>
</div>
